# Informações do sistema
APP="API-Amplificar+"
PORT=8001
JWT_SECRET="seuSegredoSuperSeguro"
EMAIL_ADM="sac-suporte@amplificaplus.com"

# Credênciais do banco de dados
DB_USERNAME="root"
DB_PASSWORD="root"
DB_DATABASE="introducao_node"
DB_HOST="localhost"
DB_DIALECT="mysql"
DB_PORT=3306

# Credênciais do servidor de email
EMAIL_FROM="nao-responda@amplificaplus.com"
EMAIL_HOST="sandbox.smtp.mailtrap.io"
EMAIL_PORT=2525
EMAIL_USER="6b176878847a2b"
EMAIL_PASS="d64adddc1459ed"